<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.module.bone.age.dao.UserMapper">
 
 <!-- 判断电话号码是否重复 -->
	<select id="getUserByPhone" parameterType="org.module.bone.age.domain.User" resultType="map">
		SELECT bu.id, bu.`name`, bu.phone, bu.birthday, bu.sex FROM base_user bu
		<where>
			<if test="phone !=null and phone != ''">
				 bu.phone = #{phone}
			</if>
		</where>
	</select>
	
	<!-- 判断数据是否重复 -->
	<select id="getRepeat" parameterType="org.module.bone.age.domain.User" resultType="map">
		SELECT bu.id, bu.`name`, bu.phone, bu.birthday, bu.sex FROM base_user bu
		<where>
			<if test="phone !=null and phone != ''">
				 bu.phone = #{phone}
			</if>
			<if test="idCard != null and idCard != ''">
				and bu.id_card = #{idCard}
			</if>
		</where>
	</select>
	
  <insert id="insert" parameterType="org.module.bone.age.domain.User" useGeneratedKeys="true" keyProperty="id">
    insert into base_user ( name, sex, 
      id_card, birthday, phone, 
      phone_status, photo, province, 
      city, area, street, 
      lng, lat, address, status, 
      is_bind_wechat,source,terminal_source, create_date, update_date, 
      remark)
    values (#{name}, #{sex}, 
      #{idCard}, #{birthday}, #{phone}, 
      #{phoneStatus}, #{photo}, #{province}, 
      #{city}, #{area}, #{street}, 
      #{lng}, #{lat}, #{address}, #{status}, 
      #{isBindWechat},#{source},#{terminalSource}, #{createDate}, #{updateDate}, 
      #{remark})
  </insert>
  
 <!-- 修改数据 -->
	<update id="update" parameterType="org.module.bone.age.domain.User">
		UPDATE base_user set id=#{id}                         
		<if test="name !=null and name != ''">                
			,name=#{name}                                     
		</if>                                                 
		<if test="sex !=null ">                               
			,sex=#{sex}                                       
		</if>                                                
		<if test="idCard !=null and idCard != ''">           
			,id_card=#{idCard}                               
		</if>                                                
		<if test="birthday !=null ">                         
			,birthday=#{birthday}                            
		</if>                                                
		<if test="phone !=null and phone != ''">             
			,phone=#{phone}                                  
		</if>                                                
		<if test="source !=null ">             
			,source=#{source}                                  
		</if>                                                
		<if test="terminalSource !=null">             
			,terminal_source=#{terminalSource}                                  
		</if>                                                
		<if test="phoneStatus !=null ">                      
			,phone_status=#{phoneStatus}                     
		</if>                                                
		<if test="isBindWechat !=null ">                     
			,is_bind_wechat=#{isBindWechat}
		</if>
		<if test="province !=null">
			,province=#{province}
		</if>
		<if test="city !=null">
			,city=#{city}
		</if>
		<if test="area !=null">
			,area=#{area}
		</if>
		<if test="street !=null">
			,street=#{street}
		</if>
		<if test="lng !=null">
			,lng=#{lng}
		</if>
		<if test="lat !=null">
			,lat=#{lat}
		</if>
		<if test="address !=null">
			,address=#{address}
		</if>
		<if test="status !=null">
			,status=#{status}
		</if>
		<if test="updateDate !=null">
			,update_date=#{updateDate}
		</if>
		<if test="createDate !=null">
			,create_date=#{createDate}
		</if>
		<if test="photo !=null and photo != ''">
			,photo=#{photo}
		</if>
		<if test="remark !=null">
			,remark=#{remark}
		</if>
		WHERE id=#{id}
	</update>
	
  <resultMap type="map" id="userMaps">
		<result column="userUserGroupId" property="userUserGroupId"/>
		<result column="userId" property="userId"/>
		<collection property="boneAgeOrdercreateDate" column="userId" javaType="date" select="getBoneAgeOrder"/>
  </resultMap>
  
	<select id="getBoneAgeOrder" parameterType="int" resultType="date">
	SELECT
		MAX(create_date) boneAgeOrdercreateDate
	FROM
		base_bone_age_order
	WHERE
		user_id = #{userId}
	</select>
	
  <select id="getSearchMember" parameterType="org.module.bone.age.domain.User" resultMap="userMaps">
		SELECT
			buug.id userUserGroupId,
			buug.trust userUserGroupTrust,
			fn_print_system_code_result (buug.relation, ';', 'gx') relationName,
			buug.user_id userId,
			bu.`name` `name`,
			bu.phone,
			bu.sex,
			bu.id_card idCard,
			bu.is_bind_wechat isBindWechat,
			bu.birthday,
			(
				DATE_FORMAT(
					FROM_DAYS(
						TO_DAYS(NOW()) - TO_DAYS(bu.birthday)
					),
					'%Y'
				) + 0
			) age,
			bu.photo,
			bug.id userGroupId,
			u.id uId,
		
		IF (
			bug.user_id = bu.id,
			TRUE,
			FALSE
		) householder,
		 bus.update_date userSignUpdateTime,
		 ot.id organizationTeamId,
		 ot.`name` organizationTeamName
		FROM
			base_user_user_group buug
		INNER JOIN base_user_group bug ON bug.id = buug.user_group_id
		INNER JOIN base_user u ON u.id = bug.user_id
		AND u.phone LIKE #{phone}
		LEFT JOIN base_user bu ON bu.id = buug.user_id
		LEFT JOIN base_user_sign bus ON bus.user_id = bu.id
		LEFT JOIN base_organization_team ot ON ot.id = bus.organization_team_id
  </select>
  
  <!-- 定义查询详情结果集-->
   <resultMap type="map" id="userMap">
		<result column="id" property="id"/>
		<collection property="userType" column="id" javaType="list" select="getUserTypeList"/>
		<collection property="certificate" column="id" javaType="list" select="getCertificateList"/>
		<collection property="Householder" column="id" javaType="boolean" select="getHouseholder"/>
   </resultMap>
   
   <select id="getHouseholder" parameterType="int" resultType="boolean">
	SELECT
	IF (
		buug.user_id = bug.user_id,
		TRUE,
		FALSE
	) householder
	FROM
		base_user_user_group buug
	INNER JOIN base_user_group bug ON bug.id = buug.user_group_id
	WHERE
		bug.user_id = #{id}
  	</select>
	<!-- 查询详情 -->
	<select id="getOne" parameterType="org.module.bone.age.domain.User" resultMap="userMap">
		SELECT
			bu.id,
			bu.`name`,
			bu.sex,
			bu.id_card idCard,
			bu.birthday,
			(DATE_FORMAT(FROM_DAYS(TO_DAYS(NOW())-TO_DAYS(bu.birthday)), '%Y')+0) age,
			bu.phone,
			bu.phone_status phoneStatus,
			bu.province,
			bu.city,
			bu.area,
			bu.street,
			bu.lng,
			bu.lat,
			bu.address address,
			bu.`status`,
			bu.is_bind_wechat isBindWeChat,
			bu.create_date createDate,
			bu.update_date updateDate,
			bu.remark,
			bu.photo,
			bot.id doctorTeamId,
			bot.`name` doctorTeamName,
			bot.organization_id organizationId,
			bo.`name` organizationName,
			bos.`name` siteName,
			bus.`status` signStatus,
			bus.create_date signCreateDate,
			bus.update_date signUpdateDate,
			bug.id groupId,
			bug.phone groupPhone
		FROM
			base_user bu
		LEFT JOIN base_user_sign bus ON bus.user_id=bu.id
		LEFT JOIN base_organization_team bot ON bot.id=bus.organization_team_id
		LEFT JOIN base_organization bo ON bo.id=bot.organization_id
		LEFT JOIN base_organization_site bos ON bos.id=bot.organization_site_id
		LEFT JOIN base_user_group bug ON bug.user_id=bu.id
		WHERE bu.id=#{id}
	</select>
	<!-- 查询用户证件列表 -->
  	<select id="getCertificateList" parameterType="int" resultType="map">
  		SELECT
			buc.id,
			buc.user_id userId,
			fn_print_system_code_result (buc.certificate_type, ';', 'zjlx') certificateTypeName,
			buc.certificate_type certificateType,
			buc.certificate_number certificateNumber,
			buc.positive,
			buc.opposite,
			buc.images,
			buc.create_date createDate
		FROM
			base_user_certificate buc
		WHERE buc.user_id = #{id}
  	</select>
  	
    <!-- 查询用户对应的人群类型 -->
  	<select id="getUserTypeList" parameterType="int" resultType="map">
		SELECT
			buut.id,
			but.id userTypeId,
			but.`name` userTypeName
		FROM
			base_user_user_type buut
		LEFT JOIN base_user_type but ON but.id = buut.user_type_id
		WHERE
			buut.user_id =#{id}
  	</select>
</mapper>