<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.module.organization.user.dao.DoctorDoctorTeamMapper">

  <delete id="delete" parameterType="org.module.organization.user.domain.DoctorDoctorTeam">
    delete from base_organization_user_team
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="org.module.organization.user.domain.DoctorDoctorTeam" useGeneratedKeys="true" keyProperty="id">
    insert into base_organization_user_team (position, organization_user_id, 
      organization_team_id, duty, is_manager, 
      create_date)
    values ( #{position}, #{organizationUserId}, 
      #{organizationTeamId}, #{duty}, #{isManager}, 
      #{createDate})
  </insert>
 
  <select id="getOne" parameterType="org.module.organization.user.domain.DoctorDoctorTeam" resultType="map">
    select id, position, organization_user_id organizationUserId, organization_team_id organizationTeamId, duty, is_manager isManager, 
    create_date createDate
    from base_organization_user_team
    where organization_user_id = #{organizationUserId} and organization_team_id = #{organizationTeamId}
  </select>
</mapper>