<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.module.organization.configure.dao.ServiceTypeMapper">
  

  <select id="getOne" parameterType="org.module.organization.configure.domain.ServiceType" resultType="map">
    select id, `name`, `code`, `status`, `explain`, `create_date`
    from base_service_type
    where id = #{id}
  </select>
</mapper>